body {
  font-family: 'Sahel', sans-serif !import;
}

div {
  font-family: 'Sahel', sans-serif !import;
}
p , h1 , h2,h3,h4,h5,h6 {
  font-family: 'Sahel', sans-serif !import;
}

label , span , br , hr {
  font-family: 'Sahel', sans-serif !import;
}
